.footer-logo img {
    max-height: 150px;
}

.footer-container {
    background-color: #012D3D;
}

.footer-contact-info-2 {
    text-align: left;
    font-size: 22px;
}

.footer-contact-info-2 a {
    color: #F5E000;
}

.footer-contact-info-2 a:hover {
    color: #fff;
}
