/* Style the grid container */
.grid-container {
    display: flex;
    gap: 40px;
    flex-grow: initial;
    justify-content: center;
    margin: 1rem 1rem;
  }
  
  .grid-heading {
    text-decoration: underline;
  }
  
  @media screen and (max-width: 950px) {
    .grid-container {
      flex-direction: column;
    }
  
    .grid-item {
      font-size: 1.5rem;
      /* max-width: 30vh; */
    }
  }
  
  /* Style individual grid items */
  .grid-item {
    background-color: black;
    padding: 20px;
    color: #d6d6d6;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 27vw;
    min-height: 30vh;
    background-image: url("./images/header-image.jpg");
    background-size: cover;
    background-position: center;
    /* filter: blur(8px); */
  }
  
  /* Style grid item headings */
  .grid-heading {
    cursor: pointer;
    margin: 0;
    padding: 0;
  }
  
  /* Style the dropdown list */
  .dropdown-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out; /* Add a transition for smooth animation */
    list-style: none;
    padding: 0;
  }
  
  /* Style list items */
  .dropdown-list li {
    margin: 0;
    padding: 5px 0;
    cursor: pointer;
  }
  
  /* Style for the active (expanded) dropdown */
  .dropdown-active {
    max-height: 1000px; /* Adjust the max-height value to fit your content */
    background-color: black;
    transition: 0.5s ease-in-out;
  }
  