.nav-logo {
  max-height: 8vh;
  width: auto;
}

.header-text h1, .header-text h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h3 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}




.header-wrapper-container {
  position: relative;
  min-height: 90vh;
  background-image: url("../../images/JD23.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.overlap-container {
  border: 2px solid white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 2px;
  border-radius: 50px;
  margin-left: 1vw;
  margin-right: 1vw;
}

.header-text h1, h2{
  color: #ffffff;
  font-weight: 700;
  font-size: 3rem;
}

h3 {
  color: #F5E000;
  font-weight: 700;
  font-size: 2rem;
}


