.App {
  text-align: center;
  background: #0e4c92;
  min-height: 100vh;
  color: #ffff4c;
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Oswald", sans-serif;
  font-size: calc(15px + 0.390625vw);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


